SitioWeb/web/WEB-INF/wsdl/webservice_8080/WebService/WSEDD.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.com/">

<xs:element name="addBus" type="tns:addBus"/>

<xs:element name="addChofer" type="tns:addChofer"/>

<xs:element name="addEstacionC" type="tns:addEstacionC"/>

<xs:element name="addEstacionG" type="tns:addEstacionG"/>

<xs:element name="agregarAdministrador" type="tns:agregarAdministrador"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="agregarAdministrador">
<xs:sequence>
<xs:element name="correoAdmo" type="xs:string" minOccurs="0"/>
<xs:element name="passAdmo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addChofer">
<xs:sequence>
<xs:element name="claverC" type="xs:int"/>
<xs:element name="apellidoC" type="xs:string" minOccurs="0"/>
<xs:element name="contraC" type="xs:string" minOccurs="0"/>
<xs:element name="correoC" type="xs:string" minOccurs="0"/>
<xs:element name="nombreC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEstacionC">
<xs:sequence>
<xs:element name="claveEC" type="xs:int"/>
<xs:element name="contraEC" type="xs:string" minOccurs="0"/>
<xs:element name="nombreEC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBus">
<xs:sequence>
<xs:element name="idBus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEstacionG">
<xs:sequence>
<xs:element name="claveEG" type="xs:int"/>
<xs:element name="contraEG" type="xs:string" minOccurs="0"/>
<xs:element name="nombreEG" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>