SitioWeb/web/WEB-INF/wsdl/webservice_8080/WebService/WSEDD.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.com/">

<xs:element name="addBus" type="tns:addBus"/>

<xs:element name="addChofer" type="tns:addChofer"/>

<xs:element name="addEstacionC" type="tns:addEstacionC"/>

<xs:element name="addEstacionG" type="tns:addEstacionG"/>

<xs:element name="agregarAdministrador" type="tns:agregarAdministrador"/>

<xs:element name="eliminarAdmo" type="tns:eliminarAdmo"/>

<xs:element name="eliminarBus" type="tns:eliminarBus"/>

<xs:element name="eliminarChofer" type="tns:eliminarChofer"/>

<xs:element name="eliminarEstacioG" type="tns:eliminarEstacioG"/>

<xs:element name="eliminarEstacionC" type="tns:eliminarEstacionC"/>

<xs:element name="grafListaBuses" type="tns:grafListaBuses"/>

<xs:element name="grafListaBusesResponse" type="tns:grafListaBusesResponse"/>

<xs:element name="graficarAVLAdmo" type="tns:graficarAVLAdmo"/>

<xs:element name="graficarAVLAdmoResponse" type="tns:graficarAVLAdmoResponse"/>

<xs:element name="graficarAVLChoferes" type="tns:graficarAVLChoferes"/>

<xs:element name="graficarAVLChoferesResponse" type="tns:graficarAVLChoferesResponse"/>

<xs:element name="graficarAVLEC" type="tns:graficarAVLEC"/>

<xs:element name="graficarAVLECResponse" type="tns:graficarAVLECResponse"/>

<xs:element name="graficarAVLEG" type="tns:graficarAVLEG"/>

<xs:element name="graficarAVLEGResponse" type="tns:graficarAVLEGResponse"/>

<xs:element name="ordenarBuses" type="tns:ordenarBuses"/>

<xs:complexType name="grafListaBuses">
<xs:sequence>
<xs:element name="parameter" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grafListaBusesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="graficarAVLAdmo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="graficarAVLAdmoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEstacionC">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarChofer">
<xs:sequence>
<xs:element name="clave" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarAdministrador">
<xs:sequence>
<xs:element name="correoAdmo" type="xs:string" minOccurs="0"/>
<xs:element name="passAdmo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEstacionC">
<xs:sequence>
<xs:element name="claveEC" type="xs:int"/>
<xs:element name="contraEC" type="xs:string" minOccurs="0"/>
<xs:element name="nombreEC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarAdmo">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBus">
<xs:sequence>
<xs:element name="idBus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addEstacionG">
<xs:sequence>
<xs:element name="claveEG" type="xs:int"/>
<xs:element name="contraEG" type="xs:string" minOccurs="0"/>
<xs:element name="nombreEG" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarBus">
<xs:sequence>
<xs:element name="idBus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="graficarAVLChoferes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="graficarAVLChoferesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="graficarAVLEC">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="graficarAVLECResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addChofer">
<xs:sequence>
<xs:element name="claverC" type="xs:int"/>
<xs:element name="apellidoC" type="xs:string" minOccurs="0"/>
<xs:element name="contraC" type="xs:string" minOccurs="0"/>
<xs:element name="correoC" type="xs:string" minOccurs="0"/>
<xs:element name="nombreC" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ordenarBuses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="graficarAVLEG">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="graficarAVLEGResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarEstacioG">
<xs:sequence>
<xs:element name="clave" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>