WebService/web/WEB-INF/wsit-com.webservice.WSEDD.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="WSEDD" targetNamespace="http://webservice.com/" xmlns:tns="http://webservice.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="agregarAdministrador"/>
    <message name="agregarAdministradorResponse"/>
    <message name="addBus"/>
    <message name="addBusResponse"/>
    <message name="addChofer"/>
    <message name="addChoferResponse"/>
    <message name="addEstacionC"/>
    <message name="addEstacionCResponse"/>
    <message name="addEstacionG"/>
    <message name="addEstacionGResponse"/>
    <portType name="WSEDD">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="agregarAdministrador">
            <input message="tns:agregarAdministrador"/>
            <output message="tns:agregarAdministradorResponse"/>
        </operation>
        <operation name="addBus">
            <input message="tns:addBus"/>
            <output message="tns:addBusResponse"/>
        </operation>
        <operation name="addChofer">
            <input message="tns:addChofer"/>
            <output message="tns:addChoferResponse"/>
        </operation>
        <operation name="addEstacionC">
            <input message="tns:addEstacionC"/>
            <output message="tns:addEstacionCResponse"/>
        </operation>
        <operation name="addEstacionG">
            <input message="tns:addEstacionG"/>
            <output message="tns:addEstacionGResponse"/>
        </operation>
    </portType>
    <binding name="WSEDDPortBinding" type="tns:WSEDD">
        <operation name="hello">
            <input></input>
            <output></output>
        </operation>
        <operation name="agregarAdministrador">
            <input></input>
            <output></output>
        </operation>
        <operation name="addBus">
            <input/>
            <output/>
        </operation>
        <operation name="addChofer">
            <input/>
            <output/>
        </operation>
        <operation name="addEstacionC">
            <input/>
            <output/>
        </operation>
        <operation name="addEstacionG">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="WSEDD">
        <port name="WSEDDPort" binding="tns:WSEDDPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="WSEDDPortBinding_addBus_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="WSEDDPortBinding_addBus_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
