SitioWeb/src/conf/xml-resources/web-service-references/WSEDD/wsdl/webservice_8080/WebService/WSEDD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.com/" name="WSEDD">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.com/" schemaLocation="http://webservice:8080/WebService/WSEDD?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="agregarAdministrador">
<part name="parameters" element="tns:agregarAdministrador"/>
</message>
<message name="addBus">
<part name="parameters" element="tns:addBus"/>
</message>
<message name="addChofer">
<part name="parameters" element="tns:addChofer"/>
</message>
<message name="addEstacionC">
<part name="parameters" element="tns:addEstacionC"/>
</message>
<message name="addEstacionG">
<part name="parameters" element="tns:addEstacionG"/>
</message>
<message name="grafListaBuses">
<part name="parameters" element="tns:grafListaBuses"/>
</message>
<message name="grafListaBusesResponse">
<part name="parameters" element="tns:grafListaBusesResponse"/>
</message>
<portType name="WSEDD">
<operation name="hello">
<input wsam:Action="http://webservice.com/WSEDD/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice.com/WSEDD/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="agregarAdministrador">
<input wsam:Action="http://webservice.com/WSEDD/agregarAdministrador" message="tns:agregarAdministrador"/>
</operation>
<operation name="addBus">
<input wsam:Action="http://webservice.com/WSEDD/addBus" message="tns:addBus"/>
</operation>
<operation name="addChofer">
<input wsam:Action="http://webservice.com/WSEDD/addChofer" message="tns:addChofer"/>
</operation>
<operation name="addEstacionC">
<input wsam:Action="http://webservice.com/WSEDD/addEstacionC" message="tns:addEstacionC"/>
</operation>
<operation name="addEstacionG">
<input wsam:Action="http://webservice.com/WSEDD/addEstacionG" message="tns:addEstacionG"/>
</operation>
<operation name="grafListaBuses">
<input wsam:Action="http://webservice.com/WSEDD/grafListaBusesRequest" message="tns:grafListaBuses"/>
<output wsam:Action="http://webservice.com/WSEDD/grafListaBusesResponse" message="tns:grafListaBusesResponse"/>
</operation>
</portType>
<binding name="WSEDDPortBinding" type="tns:WSEDD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addEstacionC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addEstacionG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="grafListaBuses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSEDD">
<port name="WSEDDPort" binding="tns:WSEDDPortBinding">
<soap:address location="http://webservice:8080/WebService/WSEDD"/>
</port>
</service>
</definitions>