SitioWeb/src/conf/xml-resources/web-service-references/WSEDD/wsdl/webservice_8080/WebService/WSEDD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.com/" name="WSEDD">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.com/" schemaLocation="http://webservice:8080/WebService/WSEDD?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarAdministrador">
<part name="parameters" element="tns:agregarAdministrador"/>
</message>
<message name="addBus">
<part name="parameters" element="tns:addBus"/>
</message>
<message name="addChofer">
<part name="parameters" element="tns:addChofer"/>
</message>
<message name="addEstacionC">
<part name="parameters" element="tns:addEstacionC"/>
</message>
<message name="addEstacionG">
<part name="parameters" element="tns:addEstacionG"/>
</message>
<message name="grafListaBuses">
<part name="parameters" element="tns:grafListaBuses"/>
</message>
<message name="grafListaBusesResponse">
<part name="parameters" element="tns:grafListaBusesResponse"/>
</message>
<message name="graficarAVLChoferes">
<part name="parameters" element="tns:graficarAVLChoferes"/>
</message>
<message name="graficarAVLChoferesResponse">
<part name="parameters" element="tns:graficarAVLChoferesResponse"/>
</message>
<message name="graficarAVLAdmo">
<part name="parameters" element="tns:graficarAVLAdmo"/>
</message>
<message name="graficarAVLAdmoResponse">
<part name="parameters" element="tns:graficarAVLAdmoResponse"/>
</message>
<message name="graficarAVLEG">
<part name="parameters" element="tns:graficarAVLEG"/>
</message>
<message name="graficarAVLEGResponse">
<part name="parameters" element="tns:graficarAVLEGResponse"/>
</message>
<message name="graficarAVLEC">
<part name="parameters" element="tns:graficarAVLEC"/>
</message>
<message name="graficarAVLECResponse">
<part name="parameters" element="tns:graficarAVLECResponse"/>
</message>
<message name="eliminarAdmo">
<part name="parameters" element="tns:eliminarAdmo"/>
</message>
<message name="eliminarChofer">
<part name="parameters" element="tns:eliminarChofer"/>
</message>
<message name="eliminarEstacioG">
<part name="parameters" element="tns:eliminarEstacioG"/>
</message>
<message name="eliminarEstacionC">
<part name="parameters" element="tns:eliminarEstacionC"/>
</message>
<message name="eliminarBus">
<part name="parameters" element="tns:eliminarBus"/>
</message>
<message name="ordenarBuses">
<part name="parameters" element="tns:ordenarBuses"/>
</message>
<portType name="WSEDD">
<operation name="agregarAdministrador">
<input wsam:Action="http://webservice.com/WSEDD/agregarAdministrador" message="tns:agregarAdministrador"/>
</operation>
<operation name="addBus">
<input wsam:Action="http://webservice.com/WSEDD/addBus" message="tns:addBus"/>
</operation>
<operation name="addChofer">
<input wsam:Action="http://webservice.com/WSEDD/addChofer" message="tns:addChofer"/>
</operation>
<operation name="addEstacionC">
<input wsam:Action="http://webservice.com/WSEDD/addEstacionC" message="tns:addEstacionC"/>
</operation>
<operation name="addEstacionG">
<input wsam:Action="http://webservice.com/WSEDD/addEstacionG" message="tns:addEstacionG"/>
</operation>
<operation name="grafListaBuses">
<input wsam:Action="http://webservice.com/WSEDD/grafListaBusesRequest" message="tns:grafListaBuses"/>
<output wsam:Action="http://webservice.com/WSEDD/grafListaBusesResponse" message="tns:grafListaBusesResponse"/>
</operation>
<operation name="graficarAVLChoferes">
<input wsam:Action="http://webservice.com/WSEDD/graficarAVLChoferesRequest" message="tns:graficarAVLChoferes"/>
<output wsam:Action="http://webservice.com/WSEDD/graficarAVLChoferesResponse" message="tns:graficarAVLChoferesResponse"/>
</operation>
<operation name="graficarAVLAdmo">
<input wsam:Action="http://webservice.com/WSEDD/graficarAVLAdmoRequest" message="tns:graficarAVLAdmo"/>
<output wsam:Action="http://webservice.com/WSEDD/graficarAVLAdmoResponse" message="tns:graficarAVLAdmoResponse"/>
</operation>
<operation name="graficarAVLEG">
<input wsam:Action="http://webservice.com/WSEDD/graficarAVLEGRequest" message="tns:graficarAVLEG"/>
<output wsam:Action="http://webservice.com/WSEDD/graficarAVLEGResponse" message="tns:graficarAVLEGResponse"/>
</operation>
<operation name="graficarAVLEC">
<input wsam:Action="http://webservice.com/WSEDD/graficarAVLECRequest" message="tns:graficarAVLEC"/>
<output wsam:Action="http://webservice.com/WSEDD/graficarAVLECResponse" message="tns:graficarAVLECResponse"/>
</operation>
<operation name="eliminarAdmo">
<input wsam:Action="http://webservice.com/WSEDD/eliminarAdmo" message="tns:eliminarAdmo"/>
</operation>
<operation name="eliminarChofer">
<input wsam:Action="http://webservice.com/WSEDD/eliminarChofer" message="tns:eliminarChofer"/>
</operation>
<operation name="eliminarEstacioG">
<input wsam:Action="http://webservice.com/WSEDD/eliminarEstacioG" message="tns:eliminarEstacioG"/>
</operation>
<operation name="eliminarEstacionC">
<input wsam:Action="http://webservice.com/WSEDD/eliminarEstacionC" message="tns:eliminarEstacionC"/>
</operation>
<operation name="eliminarBus">
<input wsam:Action="http://webservice.com/WSEDD/eliminarBus" message="tns:eliminarBus"/>
</operation>
<operation name="ordenarBuses">
<input wsam:Action="http://webservice.com/WSEDD/ordenarBuses" message="tns:ordenarBuses"/>
</operation>
</portType>
<binding name="WSEDDPortBinding" type="tns:WSEDD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addEstacionC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addEstacionG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="grafListaBuses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficarAVLChoferes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficarAVLAdmo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficarAVLEG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graficarAVLEC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarAdmo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="eliminarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="eliminarEstacioG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="eliminarEstacionC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="eliminarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="ordenarBuses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="WSEDD">
<port name="WSEDDPort" binding="tns:WSEDDPortBinding">
<soap:address location="http://webservice:8080/WebService/WSEDD"/>
</port>
</service>
</definitions>